@model ExpenseTrackerMVC.Models.mvcCategoryModel
@{
    ViewBag.Title = "AddOrEdit Category";
}

<div class="form-body">
    <h2>Category</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.categoryId)
        <div class="form-group">
            @Html.Label("Category")
            @Html.EditorFor(model => model.categoryName)
            @Html.ValidationMessageFor(model => model.categoryName)
        </div>
        <div class="form-group">
            @Html.Label("Amount")
            @Html.EditorFor(model => model.amount)
            @Html.ValidationMessageFor(model => model.amount)
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" id="submit"/>
            <input type="reset" value="Reset" class="btn button" id="reset"/>
        </div>

    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

